[
  {
    "id": "visa_1",
    "label": "Skilled Worker 1", 
    "start_date": "10-01-2023",
    "end_date": "14-09-2024"
  },
  {
    "id": "visa_2",
    "label": "Skilled Worker 2",
    "start_date": "15-09-2024", 
    "end_date": "30-09-2027"
  }
]